rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profilepic/{imageId} {
      // Only allow uploads of any image file that's less than 5MB
      allow create, update, delete: if request.resource.size < 2 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*')
                   && imageId.includes(request.auth.uid);
      allow read: if request.auth != null;
    }
  }
}
